<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>yelpcamp</title>
  </head>
  <body>
    <h1>Particular campground in detail</h1>
    <ul>
      <li><%= campground.title %></li>
      <li><%= campground.location %></li>
    </ul>
    <a href="/campgrounds/<%= campground._id %>/edit">Edit this campground</a>
    <br />
    <form
      action="/campgrounds/<%= campground._id %>?_method=DELETE"
      method="post"
    >
      <button>Delete</button>
    </form>

    <a href="/campgrounds">All campgrounds</a>
  </body>
</html>
